@tailwind base;

@layer base {
  ::selection {
    @apply bg-primary-700 text-tertiary-100 dark:bg-tertiary-100 dark:text-gray-900;
  }

  textarea::selection {
    @apply bg-primary-700 text-tertiary-100 dark:bg-tertiary-100 dark:text-gray-900;
  }

  .light textarea::selection {
    background: rgba(0, 0, 0, 0.3);
  }

  .dark textarea::selection {
    background: rgba(255, 255, 255, 0.3);
  }

  html {
    /* Make base font-size 100% of browser font-size */
    font-size: 100%;
    -webkit-tap-highlight-color: transparent;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth; /* Smoothly animate to different sections within a page, only if the user doesn't mind animations */
    }
  }

  *,
  *::before,
  *::after,
  html {
    /* Declare your box-sizing here
  /* https://css-tricks.com/box-sizing */
    box-sizing: border-box;
  }

  body {
    /* Declare your default font stack here */
    font-family: "Jost", sans-serif;

    /* Better text rendering - font-smoothing has not been officially declared, but can still be useful */
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img {
    /* For responsive images that adjust & adapt */
    height: auto;
    max-width: 100%;

    /* This isn't needed, but as a user, I get frustrated when I highlight text and the image gets highlighted too */
    user-select: none;
  }

  button {
    color: inherit; /* By default, buttons don't inherit the font colour, this is a useful default to override */
  }

  a,
  button {
    touch-action: manipulation; /* Element doesn't want double-tap on mobile to zoom */
  }

  svg {
    /* Make the SVGs fit the parent container by default */
    height: 100%;
    width: 100%;

    /* Optional - make the SVG's fill be the same as the inherited color */
    fill: currentColor;

    /* Prevent the SVG from altering cursor interaction */
    pointer-events: none;
  }

  iframe,
  video {
    /* Make iframes & videos fit the parent container by default */
    height: 100%;
    width: 100%;
  }
}

@tailwind components;

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply subpixel-antialiased tracking-normal font-semibold mt-3 mb-1 py-[12px] text-primary-900;
  }

  h1,
  .h1 {
    @apply text-5xl;
  }
  h2,
  .h2 {
    @apply text-4xl;
  }
  h3,
  .h3 {
    @apply text-3xl;
  }
  h4,
  .h4 {
    @apply text-2xl;
  }
  h5,
  .h5 {
    @apply text-xl;
  }
  h6,
  .h6 {
    @apply text-base;
  }

  textarea:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
  }

  select {
    appearance: none !important;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }

  /***********************/
  /*RANGE SLIDER DEFAULTS*/
  /***********************/

  /*Globals*/
  input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    height: 2px;
  }

  input[type="range"]:focus {
    outline: none;
  }

  /****/
  /*IE*/
  /****/

  /*Tailwind*/
  input[type="range"]::-ms-fill-upper {
    @apply bg-primary-600 dark:bg-gray-600;
  }

  input[type="range"]:focus::-ms-fill-upper {
    @apply bg-secondary-700 dark:bg-white;
  }

  input[type="range"]::-ms-fill-lower,
  input[type="range"]:focus::-ms-fill-lower {
    @apply bg-primary-900 dark:bg-gray-600;
  }

  input[type="range"]::-ms-thumb {
    @apply bg-secondary-300 dark:bg-white;
  }

  input[type="range"]:focus::-ms-thumb {
    @apply bg-secondary-600 dark:bg-gray-600;
  }

  input[type="range"]::-ms-track {
    border: none;
    border-radius: 3px;
    height: 2px;
  }

  input[type="range"]:focus::-ms-thumb {
    margin-top: -9px;
  }

  input[type="range"]::-ms-thumb {
    margin-top: -8px;
  }

  input[type="range"]::-ms-track {
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
  }

  input[type="range"]::-ms-fill-lower {
    border-radius: 10px;
  }

  input[type="range"]::-ms-fill-upper {
    border-radius: 10px;
  }

  /*********/
  /*MOZILLA*/
  /*********/

  /*Tailwind*/
  input[type="range"]::-moz-range-track {
    @apply bg-primary-900;
  }

  input[type="range"]:focus::-moz-range-track {
    @apply bg-primary-600 border border-solid border-primary-600 dark:bg-white dark:border-white;
  }

  input[type="range"]::-moz-range-thumb {
    @apply bg-secondary-300 dark:bg-white;
  }

  input[type="range"]:focus::-moz-range-thumb {
    @apply bg-secondary-600 dark:bg-gray-600;
  }

  input[type="range"]::-moz-range-track {
    border: none;
    border-radius: 3px;
    height: 2px;
  }

  input[type="range"]:focus::-moz-range-thumb {
    margin-top: -9px;
  }

  input[type="range"]::-moz-range-thumb {
    margin-top: -8px;
  }

  /*hide the outline behind the border*/
  input[type="range"]:-moz-focusring {
    outline: 1px solid transparent;
    outline-offset: -1px;
  }

  /********/
  /*WEBKIT*/
  /********/

  /*Tailwind*/
  input[type="range"]::-webkit-slider-runnable-track {
    @apply bg-primary-900 dark:bg-gray-600;
  }

  input[type="range"]:focus::-webkit-slider-runnable-track {
    @apply bg-primary-600 border border-solid border-primary-600 dark:bg-white dark:border-white;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply bg-secondary-300 border border-solid border-primary-900 dark:bg-white dark:border-white;
  }

  input[type="range"]:focus::-webkit-slider-thumb {
    @apply bg-secondary-600 border-solid border-primary-900 dark:bg-gray-600 dark:border-white;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    border: none;
    border-radius: 3px;
    height: 2px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-top: -7px;
  }

  input[type="range"]:focus::-webkit-slider-thumb {
    margin-top: -8px;
  }

  input[type="range"]:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }

  input[type="range"]:disabled::-webkit-slider-thumb {
    @apply bg-primary-300 dark:bg-white;
  }

  /************/
  /*SCROLLBARS*/
  /************/

  html {
    --scrollbarBG: #d4d4d4;
    --thumbBG: #5b6477;
  }
  html.dark {
    --scrollbarBG: #525252;
    --thumbBG: #d4d4d4;
  }

  body::-webkit-scrollbar,
  .scrollbar::-webkit-scrollbar {
    width: 11px;
  }

  body,
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }

  body,
  .scrollbar {
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }

  body::-webkit-scrollbar-track,
  .scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }

  body::-webkit-scrollbar-thumb,
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }

  /*Inputs and buttons*/
  .auth-input {
    @apply w-full rounded text-black border-gray-600 outline-0 outline-offset-0 focus:ring-primary-900 focus:border-gray-600 dark:bg-gray-800 dark:text-tertiary-100 dark:placeholder-gray-400 dark:focus:ring-secondary-900 dark:focus:border-secondary-900;
  }

  .btn-main {
    @apply p-2 bg-primary-900 text-tertiary-100 hover:bg-secondary-900 hover:text-primary-900 hover:font-bold border-primary-900 dark:bg-gray-700 dark:hover:bg-secondary-900 dark:hover:text-primary-900 dark:hover:font-bold dark:border-gray-400 dark:hover:border-gray-900 border rounded transition-all;
  }

  .btn-secondary {
    @apply p-2 text-primary-900 border-primary-900 hover:bg-primary-900 hover:text-tertiary-100 hover:font-bold dark:text-secondary-900 dark:hover:bg-secondary-900 dark:hover:text-gray-900 dark:hover:font-bold dark:border-secondary-900 border rounded transition-all;
  }
}

@tailwind utilities;
