@tailwind base;

@layer base {
  ::selection {
    /* Optional */
    /* It can be really hard to read highlighted text with a text-shadow, it should be removed when selected */
    text-shadow: none;

    /* NOTE: Using this means the color and background-color are set to transparent for selected text... */
    /* So you can customise your styles below */
    color: #fff;
    background-color: #00f;
  }

  html {
    /* Make base font-size 100% of browser font-size */
    font-size: 100%;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth; /* Smoothly animate to different sections within a page, only if the user doesn't mind animations */
    }
  }

  *,
  *::before,
  *::after,
  html {
    /* Declare your box-sizing here
  /* https://css-tricks.com/box-sizing */
    box-sizing: border-box;
  }

  body {
    /* Declare your default font stack here */
    font-family: "Jost", sans-serif;

    /* Better text rendering - font-smoothing has not been officially declared, but can still be useful */
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img {
    /* For responsive images that adjust & adapt */
    height: auto;
    max-width: 100%;

    /* This isn't needed, but as a user, I get frustrated when I highlight text and the image gets highlighted too */
    user-select: none;
  }

  button {
    color: inherit; /* By default, buttons don't inherit the font colour, this is a useful default to override */
  }

  a,
  button {
    touch-action: manipulation; /* Element doesn't want double-tap on mobile to zoom */
  }

  svg {
    /* Make the SVGs fit the parent container by default */
    height: 100%;
    width: 100%;

    /* Optional - make the SVG's fill be the same as the inherited color */
    fill: currentColor;

    /* Prevent the SVG from altering cursor interaction */
    pointer-events: none;
  }

  iframe,
  video {
    /* Make iframes & videos fit the parent container by default */
    height: 100%;
    width: 100%;
  }
}

@tailwind components;

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply subpixel-antialiased tracking-normal font-semibold mt-3 mb-1 py-[12px] text-primary-900;
  }

  h1,
  .h1 {
    @apply text-5xl;
  }
  h2,
  .h2 {
    @apply text-4xl;
  }
  h3,
  .h3 {
    @apply text-3xl;
  }
  h4,
  .h4 {
    @apply text-2xl;
  }
  h5,
  .h5 {
    @apply text-xl;
  }
  h6,
  .h6 {
    @apply text-base;
  }

  textarea:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
  }

  select {
    appearance: none !important;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }

  /***********************/
  /*RANGE SLIDER DEFAULTS*/
  /***********************/

  /*Globals*/
  input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    height: 2px;
  }

  input[type="range"]:focus {
    outline: none;
  }

  /****/
  /*IE*/
  /****/

  /*Tailwind*/
  input[type="range"]::-ms-fill-upper {
    @apply bg-primary-600;
  }

  input[type="range"]:focus::-ms-fill-upper {
    @apply bg-secondary-700;
  }

  input[type="range"]::-ms-fill-lower,
  input[type="range"]:focus::-ms-fill-lower {
    @apply bg-primary-900;
  }

  input[type="range"]::-ms-thumb {
    @apply bg-secondary-300;
  }

  input[type="range"]:focus::-ms-thumb {
    @apply bg-secondary-600;
  }

  input[type="range"]::-ms-track {
    border: none;
    border-radius: 3px;
    height: 2px;
  }

  input[type="range"]:focus::-ms-thumb {
    margin-top: -9px;
  }

  input[type="range"]::-ms-thumb {
    margin-top: -8px;
  }

  input[type="range"]::-ms-track {
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
  }

  input[type="range"]::-ms-fill-lower {
    border-radius: 10px;
  }

  input[type="range"]::-ms-fill-upper {
    border-radius: 10px;
  }

  /*********/
  /*MOZILLA*/
  /*********/

  /*Tailwind*/
  input[type="range"]::-moz-range-track {
    @apply bg-primary-900;
  }

  input[type="range"]:focus::-moz-range-track {
    @apply bg-primary-600 border border-solid border-primary-600;
  }

  input[type="range"]::-moz-range-thumb {
    @apply bg-secondary-300;
  }

  input[type="range"]:focus::-moz-range-thumb {
    @apply bg-secondary-600;
  }

  input[type="range"]::-moz-range-track {
    border: none;
    border-radius: 3px;
    height: 2px;
  }

  input[type="range"]:focus::-moz-range-thumb {
    margin-top: -9px;
  }

  input[type="range"]::-moz-range-thumb {
    margin-top: -8px;
  }

  /*hide the outline behind the border*/
  input[type="range"]:-moz-focusring {
    outline: 1px solid transparent;
    outline-offset: -1px;
  }

  /********/
  /*WEBKIT*/
  /********/

  /*Tailwind*/
  input[type="range"]::-webkit-slider-runnable-track {
    @apply bg-primary-900;
  }

  input[type="range"]:focus::-webkit-slider-runnable-track {
    @apply bg-primary-600 border border-solid border-primary-600;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply bg-secondary-300 border border-solid border-primary-900;
  }

  input[type="range"]:focus::-webkit-slider-thumb {
    @apply bg-secondary-600 border-solid border-primary-900;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    border: none;
    border-radius: 3px;
    height: 2px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-top: -7px;
  }

  input[type="range"]:focus::-webkit-slider-thumb {
    margin-top: -8px;
  }

  input[type="range"]:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }

  input[type="range"]:disabled::-webkit-slider-thumb {
    @apply bg-primary-300;
  }
}

@tailwind utilities;
